@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --black: black;
  --white: white;
  --gray-2: #e5e7eb;
  --text-black-white: rgb(0, 0, 0);
  --bg-white-black: rgb(255, 255, 255);
  --bg-gray-1-9: #f3f4f6;
  --bg-gray-3-8: #d1d5db;
  --bg-white-0-1: #ffffff;
  --bg-gray-1-3: #f3f4f6;
}

[data-theme='dark'] {
  --text-black-white: rgb(255, 255, 255);
  --bg-white-black: rgb(0, 0, 0);
  --bg-gray-1-9: #111827;
  --bg-gray-3-8: #1f2937;
  --bg-white-0-1: #e5e7eb;
  --bg-gray-1-3: #d1d5db;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  direction: rtl;
  font-weight: 500;

}

body {
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}